doctype html
html
  head
    title Benfucius
    link(href='/app.css' type='text/css' media='screen' rel='stylesheet')
  body
    block content
  script(src='//code.jquery.com/jquery-2.1.4.min.js')
  script(src='/app.js')
