doctype html
html
  head
    title Benfucius
    link(href='/app.css' type='text/css' media='screen' rel='stylesheet')
  body
    header.top-header
      h1.top-logo
        a(href='/') Benfucius say
      nav.top-nav
        a.top-nav-item(href='/quotes/random') Random
        a.top-nav-item(href='/quotes/latest') Latest

    main
      block content
  script(src='//code.jquery.com/jquery-2.1.4.min.js')
  script(src='/app.js')
