body {
  font-family: 'Helvetica Neue', Helvetica, 'Droid Sans', OpenSans, Arial, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: inherit;
}

.top-header {
  display: flex;
  align-items: baseline;
}

.top-logo {
  flex: 1 1 auto;
}

.top-nav {
  flex: 0 0 auto;
}

.top-nav-item {
  display: inline-block;
  margin-left: 20px;
}

blockquote {
  margin: 0;
}

.quote {
  margin: 30px;
}

.quote-new {
  display: block;
  margin-top: 30px;
}

.quote-text {
  margin-bottom: 20px;
  font-style: italic;
  font-size: large;
}

.quote-text::before, .quote-text::after {
  content: '"';
}

.vote {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.vote.positive {
  color: #00aa00;
}

.vote.negative {
  color: #cc0000;
}

tr:nth-child(even) {
  background-color: #ddd;
}

.lightbox-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: white;
}
