extends ../layout.jade
include ./mixins

block content
  h1 Benfucius says
  table
    each quote in quotes
      tr.quote(data-quote-id=quote.get('id'))
        td.quote-text(data-quote-field='text')= quote.get('text')
        td
          +votes(quote)

  a.quote-new(href='/quotes/new') Submit a new quote
