mixin votes(quote)
  .vote.positive
    +vote(quote, '+', 'Wise', 'positive_votes')

  .vote.negative
    +vote(quote, '-', 'Lies', 'negative_votes')

  .vote.fail
    +vote(quote, '!', 'NOT A QUOTE')

mixin vote(quote, value, text, field)
  form.vote-form(method='POST' action="/quotes/#{quote.get('id')}/vote")
    input(type='hidden' name='value' value=value)
    if field
      span(data-quote-field=field)= quote.get(field) || 0
    button= text
