mixin votes(quote)
  .vote.positive
    +vote(quote, '+', 'Wise', quote.get('positive_votes') || 0)

  .vote.negative
    +vote(quote, '-', 'Lies', quote.get('negative_votes') || 0)

  .vote.fail
    +vote(quote, '!', 'NOT A QUOTE')

mixin vote(quote, value, text, votes)
  form(method='POST' action="/quotes/#{quote.get('id')}/vote")
    input(type='hidden' name='value' value=value)
    if votes != null
      span= votes
    button= text
