extends ../layout.jade
include ./mixins

block content
  h1 Benfucius says
  div.quote
    blockquote.quote-text= quote.get('text')
    +votes(quote)

  a.quote-new(href='/quotes/new') Submit a new quote
